includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max

    paths:
        - ../src

    bootstrapFiles:
        - ../vendor/autoload.php

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Method Phithi92\\JsonWebToken\\Token\\Validator\\JwtValidator::is.* is unused#'
        - '#Method Phithi92\\JsonWebToken\\Token\\Validator\\JwtValidator::assert.* is unused#'
