name: PHPStan Static Analysis

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  phpstan:
    name: Run PHPStan
    runs-on: ubuntu-latest
    
    env:
        KEYS_PATH: ${{ github.workspace }}/tests/keys

    steps:
      # Check out the code from the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up PHP with required extensions and composer
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3' # Set the PHP version as required
          extensions: mbstring, json
          tools: composer

      # Install dependencies
      - name: Install dependencies
        run: composer install --no-progress --no-suggest --prefer-dist
        
      - name: Generate Keys & Passwords
        run: php scripts/generate-keys.php

      # Run PHPStan
      - name: Run PHPStan
        run: |
          vendor/bin/phpstan analyse --configuration=phpstan.neon --memory-limit=1G